* {
    margin: 0;
    padding: 0;
}
img {
	maxâ€width: 100%;
}   
body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 100%; /* Base font-size = 16px */
}

.nav {
    list-style: none;
    padding-left: 0;
    padding: 0;
    margin: 0; 
    background-color: #0040ff;
    overflow: hidden;
    width:100%;
    cursor: pointer;
}

.nav > li {
	font-size: 0.70em; 
    width: 33.33%;
    float: left;
    text-align: center;
}

.nav li a {
    text-decoration: none; 
	font-weight: bold;
    color: #fff;
    padding-left: 0.2em;
    padding: 0.75em 0.2em; /* 12px / 16px | 4px / 16px */
    display: block;
    font-size: 1em; 
}

.nav li:hover {
	background-color:#21160C;
	display:block;
}
			
.nav li ul {
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;;
}
			
.nav li:hover > ul {
	display:block;
}
			
.nav li ul li {
	list-style:none;
	background-color:#21160C;
	position:relative;	
}

header h1 {
	font-size: 1em;
	-webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0.5em;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

table, thead, tbody, th, td, tr { 
	display: block; 
}

thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

tr { 
	border: 1px solid #ccc;
	padding: 0.3em 0.25em; 
} 

td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
footer{
	color: #000000;
	text-align: right;
  	font-family: sans-serif;
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-top-style:inset;
	border-color:grey;
 
}

td:nth-of-type(1):before { content: "Jugador";}
td:nth-of-type(2):before { content: "Goles";}
td:nth-of-type(3):before { content: "Part. jugados"; }
td:nth-of-type(4):before { content: "Gpp"; }
td:nth-of-type(5):before { content: "Asistencia"; }
td:nth-of-type(6):before { content: "App"; }
td:nth-of-type(7):before { content: "Pen"; }
td:nth-of-type(8):before { content: "Pen%";}
td:nth-of-type(9):before { content: "FD";}
td:nth-of-type(10):before { content: "FD%"; }
td:nth-of-type(11):before { content: "TA"; }
td:nth-of-type(12):before { content: "TA pp"; }
td:nth-of-type(13):before { content: "TR"; }
td:nth-of-type(14):before { content: "TR pp"; }
